In [1]:
import os
import sys
sys.path.append('c:/Users/Jonathan_Espinosa/Projects/novartis/system_impact_classification')

In [2]:
from data_loader import DataMerger
from data_parser import estimate_equipment_group_names

In [3]:
data_path = 'c:/Users/Jonathan_Espinosa/Projects/novartis/system_impact_classification/data'
data_merger = DataMerger(data_path)
df_merged = data_merger()
df_merged.head(2)

Mergering file equipment_data_site_1.xlsx
Mergering file equipment_data_site_2.xlsx
file exported as c:/Users/Jonathan_Espinosa/Projects/novartis/system_impact_classification/data\merged_sites_table.xlsx

,Equipment Group ID,Equipment Group,Criteria 1,Criteria 2,Criteria 3,Criteria 4,Criteria 5,Criteria 6,Criteria 7,Criteria 8a,Criteria 8b,Site Name
0,1,Boiler,Yes,No,Yes,No,Yes,No,Yes,Yes,No,ABC
1,2,Conveyor,No,Yes,No,Yes,No,Yes,No,No,Yes,ABC

In [5]:
equipment_names = data_merger.get_equipment_names(df_merged)
print(equipment_names)

['Boiler' 'Conveyor' 'Furnace' 'Compressor' 'Mixer' 'Pump' 'Generator'
 'Chiller' 'Valve' 'Fan' 'Blower' 'Heater' 'Dryer' 'Cooler' 'Turbine'
 'Cooler' 'Turbine' 'Turbaie' 'Turvine']

In [7]:
df_group_names = estimate_equipment_group_names(equipment_names)
print(df_group_names)

  equipment_group_name                                       equipments
0      Heat Generation                        [Boiler, Furnace, Heater]
1    Material Handling                                [Conveyor, Mixer]
2       Fluid Movement  [Compressor, Pump, Chiller, Valve, Fan, Blower]
3   Drying and Cooling                                  [Dryer, Cooler]
4     Power Generation                             [Generator, Turbine]

In [33]:
df_names_exploded = df_group_names.explode('equipments')
df_merged_renamed = df_merged.merge(df_names_exploded, left_on='Equipment Group', right_on='equipments', how='left')
df_merged_renamed = df_merged_renamed.replace()
cols_bool = ['Criteria 1', 'Criteria 2', 'Criteria 3', 'Criteria 4', 'Criteria 5', 'Criteria 6', 'Criteria 7', 'Criteria 8a', 'Criteria 8b']
map_answers = {'Yes':1, 'No': 0}
df_merged_renamed[cols_bool] = df_merged_renamed[cols_bool].replace(map_answers).astype(int)
df_merged_renamed[cols_bool+['equipment_group_name']].groupby(['equipment_group_name']).mean()

C:\Users\Jonathan_Espinosa\AppData\Local\Temp\ipykernel_28900\1309078907.py:3: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df_merged_renamed = df_merged_renamed.replace()
C:\Users\Jonathan_Espinosa\AppData\Local\Temp\ipykernel_28900\1309078907.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_merged_renamed[cols_bool] = df_merged_renamed[cols_bool].replace(map_answers).astype(int)

,Criteria 1,Criteria 2,Criteria 3,Criteria 4,Criteria 5,Criteria 6,Criteria 7,Criteria 8a,Criteria 8b
equipment_group_name,,,,,,,,,
Drying and Cooling,0.666667,0.333333,0.666667,0.333333,0.666667,0.333333,0.666667,0.666667,0.333333
Fluid Movement,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
Heat Generation,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
Material Handling,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
Power Generation,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000

In [34]:
# df_merged[cols_bool+['Equipment Group']].groupby(['Equipment Group']).mean()